@using System.Security.Claims
@model List<ChatAppNETCore.Models.C_User>

@{
    ViewData["Title"] = "Chat screen";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier).ToUpper();
}

@if (@TempData["SuccessMessage"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["SuccessMessage"]')
    </script>
}

<div class="chat-container">
    <div class="chat-list">
        <h3>Chat List</h3>
        <ul>
            @foreach (var user in Model)
            {
                <li class="chat-user" id="@user.Id" onclick="openChatRoom('@user.Id', '@user.Name', '@currentUserId', event)" is-open="false">
                    <div class="info">
                        <div class="position-relative">
                            <img width="50" height="50" src="/images/avatar-default.jpg" alt="Avatar default" />
                            <div class="user-online"></div>
                        </div>
                        <p class="px-2">@user.Name</p>
                    </div>
                    <div class="dot-red"></div>
                </li>
            }
        </ul>
    </div>

    <div class="chat-room">
        <h3 class="chat-with">Chat Room</h3>
        <div id="chat-content">
            
        </div>
        <div class="chat-input"></div>
        <input type="button" hidden id="sendButton" value="Send Message" />
    </div>

    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header border-0">
                <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007aff"></rect>
                </svg>
                <strong class="me-auto text-black" id="messageFrom"></strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-white" id="toastMessageContent"></div>
        </div>
    </div>
</div>


<script>
    var currentUserId = '@currentUserId';
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


<style>
    .chat-container {
        display: flex;
        height: 80vh;
        border: 1px solid #ccc;
    }


    .chat-list {
        width: 30%;
        border-right: 1px solid #ccc;
        padding: 10px;
        background-color: #f8f9fa;
        overflow-y: auto;
    }

        .new-message {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .new-message .dot-red {
            width: 10px;
            height: 10px;
            background: red;
            border-radius: 50%;
        }

        .new-message p{
            font-weight: bold !important;
        }

        .chat-list h3 {
            margin-top: 0;
            text-align: center;
            font-size: 1.5rem;
            font-family: "Varela Round", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .chat-list p {
            margin: 0;
            font-family: "Varela Round", sans-serif;
        }

        .chat-list ul {
            list-style-type: none;
            padding: 0;
        }

    .chat-user {
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
    }

        .chat-user:hover {
            background-color: #e9ecef;
        }

        .active {
            background-color: #77CDFF;
            color: #fff;
            border-radius: 4px;
            font-weight: bold;
        }

        .chat-user .info {
            display: flex;
            align-items: center;
        }

        .chat-user .info .active-user-online {
            position: absolute;
            width: 14px;
            height: 14px;
            background: #31a24c;
            border-radius: 50%;
            border: 2px solid #fff;
            right: 0;
            bottom: 2px;
                
        }

        .chat-user .info img {
            border-radius: 50%;
        }


    .chat-room {
        width: 70%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .chat-with {
        font-family: "Varela Round", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .message {
        background-color: aliceblue;
        border-radius: 7px;
        padding: 5px 15px;
        width: fit-content;
        margin-bottom: 10px;
        max-width: 60%;
    }

        .message p {
            margin: 0;
            font-family: "Varela Round", sans-serif;
        }

        .message span {
            font-size: 11px;
        }

    .sent-by-me {
        margin-left: auto;
        text-align: right;
    }

    .chat-room h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0;
    }


    #chat-content {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        overflow-y: auto;
        max-height: 100%;
    }

    .user-joined {
        display: flex;
        justify-content: center;
    }

    .user-joined p {
        border-radius: 10px;
        padding: 4px 7px;
        background: #f6f6f6;
        font-size: 11px;
    }


    .message-input {
        display: flex;
        margin-top: 10px;
    }

        .message-input input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
            font-family: "Varela Round", sans-serif;
        }

        .message-input button {
            padding: 10px 20px;
            border: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            border-radius: 4px;
        }

        .message-input button:hover {
            background-color: #0056b3;
        }


    ::-webkit-scrollbar {
        width: 10px; 
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #77CDFF;
        border-radius: 10px;
        border: 2px solid #f1f1f1;
    }
</style>